html,body {
	margin:0;padding: 3px;
}

.gem {
	background-image: url('gem.png');
	width: 15px;
    height: 16px;
    display: inline-block;
    background-size: contain;
    margin: 0px 1px -2px 1px;
}

.battery {
	background-image: url('battery.png');
	width: 13px;
    height: 14px;
    display: inline-block;
    background-size: contain;
    margin: 0px 1px -1px 1px;
}
.datachip {
	background-image: url('datachip.png');
	width: 19px;
    height: 15px;
    display: inline-block;
    background-size: contain;
    margin: 0px 1px -1px 1px;
}

#sectionleft,
#sectionright {
	float: left;
	height: 100%;
}

section {
	border: solid black 2px;
	margin:2px;
}
section#definebattery,
section#game {
	width: 500px;
}
section#definebattery > div {
	position: relative;
	margin: 1px;
	border: dotted orange 1px;
}
section#definebattery > div > div {
	display: inline-block;
	width: 150px;
}

#definebattery[data-status="1"] #idb-idle,
#definebattery[data-status="1"] #idb-purchase {
	opacity: 0.5;
	pointer-events: none;
}

#game[data-status="0"] {
	opacity: 0.5;
	pointer-events: none;
}

#currency {
	position: relative;
	height: 40px
}
#game-points-container,
#game-battery-container,
#game-datachip-container,
#game-fromperfect-container {
	position: absolute;
	top: 0;
}
#game-points-container {
	right: 350px;
}
#game-battery-container {
	right: 200px;
}
#game-datachip-container {
	right: 50px;
}
#game-fromperfect-container {
	top: 20px;
	right: 319px;
}
#gauge-container {
  width: 440px;
  background-color: #140A0C;
  border: solid black 3px;
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
}

#gauge {
  width: 20px;
  height: 30px;
  background-color: #FEFF32;
  overflow: visible;
}
#breakpoints {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: visible;
	top: 0;
}
.game-breakpoint {
	background-color: orange;
	width: 3px;
	position: absolute;
	height: 40px;
	top: -6px;
	border: solid red 1px;
	overflow: visible;
	text-align: center;
}
.game-bp-label-multiplier {
	position: absolute;
	top: -20px;
	left: -6px;
}
.game-bp-label-points {
	position: absolute;
	bottom: -20px;
	left: -6px;
}
#bp1 {left: calc(12 * 20px - 1px)}
#bp2 {left: calc(15 * 20px - 1px)}
#bp3 {left: calc(17 * 20px - 1px)}
#bp4 {left: calc(19 * 20px - 1px)}
#bp5 {left: calc(21 * 20px - 1px)}
#redeem[data-canredeem="0"] {
	opacity: 0.5;
	pointer-events: none;
}
.contstatus {
	display: none;
}
#continuous[data-activated="false"] #active {
	display: inline;
}
#continuous[data-activated="true"] #inactive {
	display: inline;
}
#perfmode[data-activated="false"] #active {
	display: inline;
}
#perfmode[data-activated="true"] #inactive {
	display: inline;
}

/* autoplay strategy */

#autoplaystrategy {
	font-family: 'Arial'
}
#autoplaystrategy table tbody {
	font-size: 13px;
}
#autoplaystrategy table td {
	text-align: center;
	width: 80px;
	color: black;
	background-color: #fff;
}

#aps12 td, #aps13 td, #aps14 td {
	background-color: #6BEE62 !important;
}
#aps15 td, #aps16 td {
	background-color: #FFF62A !important;
}
#aps17 td, #aps18 td {
	background-color: #FA9E44 !important;
}
#aps19 td, #aps20 td {
	background-color: #ff7675 !important;
}

.btnv:after {
	content: "X"
}
tr #aps10-1, tr #aps10-2, tr #aps10-3, tr #aps10-4,
tr #aps11-1, tr #aps11-2, tr #aps11-3, tr #aps11-4,
tr #aps12-1, tr #aps12-2, tr #aps12-3, tr #aps12-4,
tr #aps13-1, tr #aps13-2, tr #aps13-3, tr #aps13-4,
tr #aps14-1, tr #aps14-2, tr #aps14-3, tr #aps14-4,
tr #aps15-1, tr #aps15-2, tr #aps15-3, tr #aps15-4,
tr #aps16-1, tr #aps16-2, tr #aps16-3, tr #aps16-4,
tr #aps17-1, tr #aps17-2, tr #aps17-3, tr #aps17-4,
tr #aps18-1, tr #aps18-2, tr #aps18-3, tr #aps18-4,
tr #aps19-1, tr #aps19-2, tr #aps19-3, tr #aps19-4,
tr #aps20-1, tr #aps20-2, tr #aps20-3, tr #aps20-4 {
	background-color: silver;
	color: black;
}
tr[data-v="1"] #aps9-1,
tr[data-v="1"] #aps10-1, tr[data-v="2"] #aps10-2, tr[data-v="3"] #aps10-3, tr[data-v="4"] #aps10-4,
tr[data-v="1"] #aps11-1, tr[data-v="2"] #aps11-2, tr[data-v="3"] #aps11-3, tr[data-v="4"] #aps11-4,
tr[data-v="1"] #aps12-1, tr[data-v="2"] #aps12-2, tr[data-v="3"] #aps12-3, tr[data-v="4"] #aps12-4,
tr[data-v="1"] #aps13-1, tr[data-v="2"] #aps13-2, tr[data-v="3"] #aps13-3, tr[data-v="4"] #aps13-4,
tr[data-v="1"] #aps14-1, tr[data-v="2"] #aps14-2, tr[data-v="3"] #aps14-3, tr[data-v="4"] #aps14-4,
tr[data-v="1"] #aps15-1, tr[data-v="2"] #aps15-2, tr[data-v="3"] #aps15-3, tr[data-v="4"] #aps15-4,
tr[data-v="1"] #aps16-1, tr[data-v="2"] #aps16-2, tr[data-v="3"] #aps16-3, tr[data-v="4"] #aps16-4,
tr[data-v="1"] #aps17-1, tr[data-v="2"] #aps17-2, tr[data-v="3"] #aps17-3, tr[data-v="4"] #aps17-4,
tr[data-v="1"] #aps18-1, tr[data-v="2"] #aps18-2, tr[data-v="3"] #aps18-3, tr[data-v="4"] #aps18-4,
tr[data-v="1"] #aps19-1, tr[data-v="2"] #aps19-2, tr[data-v="3"] #aps19-3, tr[data-v="4"] #aps19-4,
tr[data-v="1"] #aps20-1, tr[data-v="2"] #aps20-2, tr[data-v="3"] #aps20-3, tr[data-v="4"] #aps20-4 {
	background-color: black;
	color: white;
}
tr[data-v="1"] #aps9-1 .btnv:after,
tr[data-v="1"] #aps10-1 .btnv:after, tr[data-v="2"] #aps10-2 .btnv:after, tr[data-v="3"] #aps10-3 .btnv:after, tr[data-v="4"] #aps10-4 .btnv:after,
tr[data-v="1"] #aps11-1 .btnv:after, tr[data-v="2"] #aps11-2 .btnv:after, tr[data-v="3"] #aps11-3 .btnv:after, tr[data-v="4"] #aps11-4 .btnv:after,
tr[data-v="1"] #aps12-1 .btnv:after, tr[data-v="2"] #aps12-2 .btnv:after, tr[data-v="3"] #aps12-3 .btnv:after, tr[data-v="4"] #aps12-4 .btnv:after,
tr[data-v="1"] #aps13-1 .btnv:after, tr[data-v="2"] #aps13-2 .btnv:after, tr[data-v="3"] #aps13-3 .btnv:after, tr[data-v="4"] #aps13-4 .btnv:after,
tr[data-v="1"] #aps14-1 .btnv:after, tr[data-v="2"] #aps14-2 .btnv:after, tr[data-v="3"] #aps14-3 .btnv:after, tr[data-v="4"] #aps14-4 .btnv:after,
tr[data-v="1"] #aps15-1 .btnv:after, tr[data-v="2"] #aps15-2 .btnv:after, tr[data-v="3"] #aps15-3 .btnv:after, tr[data-v="4"] #aps15-4 .btnv:after,
tr[data-v="1"] #aps16-1 .btnv:after, tr[data-v="2"] #aps16-2 .btnv:after, tr[data-v="3"] #aps16-3 .btnv:after, tr[data-v="4"] #aps16-4 .btnv:after,
tr[data-v="1"] #aps17-1 .btnv:after, tr[data-v="2"] #aps17-2 .btnv:after, tr[data-v="3"] #aps17-3 .btnv:after, tr[data-v="4"] #aps17-4 .btnv:after,
tr[data-v="1"] #aps18-1 .btnv:after, tr[data-v="2"] #aps18-2 .btnv:after, tr[data-v="3"] #aps18-3 .btnv:after, tr[data-v="4"] #aps18-4 .btnv:after,
tr[data-v="1"] #aps19-1 .btnv:after, tr[data-v="2"] #aps19-2 .btnv:after, tr[data-v="3"] #aps19-3 .btnv:after, tr[data-v="4"] #aps19-4 .btnv:after,
tr[data-v="1"] #aps20-1 .btnv:after, tr[data-v="2"] #aps20-2 .btnv:after, tr[data-v="3"] #aps20-3 .btnv:after, tr[data-v="4"] #aps20-4 .btnv:after {
	content: "V";
}


#sectionright {
	width: 750px;
}
#sectionright:after {
	clear: both;
}
#logs {
	width: 570px;
	min-height: 620px;
	max-height: 1360px;
	display: inline-block;
}
#logtext {
	width: 100%;
	height: 1294px;
	overflow-y: scroll;
}
#logtext p {
	margin: 1px 3px;
	color: #000;
	background-color: #fff
}

p.roll {
	background-color: #B7E1CD !important
}
p.fail {
	background-color: #E06666 !important
}
p.redeem {
	background-color: #00FF00 !important
}
p.blackjack {
	background-color: #00FFFF !important
}
#resultcsv {
	width: 120px;
	height: 816px;
	display: inline-block;
	vertical-align: top;
}
#logresult {
	width: 110px;
	height: calc(100% - 25px);
}
.autoplayresult > span {
	padding: 0 3px;
}
.milestone400 {background-color: #ffffff;}
.milestone600 {background-color: #ffffff;}
.milestone800 {background-color: #ffffff;}
.milestone1000 {background-color: #dfe6e9;}
.milestone1200 {background-color: #dfe6e9;}
.milestone1400 {background-color: #b2bec3;}
.milestone1600 {background-color: #55efc4;}
.milestone1800 {background-color: #fdcb6e;}
.milestone2000 {background-color: #ff7675;}
.milestone2200 {background-color: #e84393;}
.milestone2400 {background-color: #a29bfe;}
.milestone2600 {background-color: #0984e3;}